* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    }
    div.weather-container:nth-of-type(1) {
    margin-top: 1vh;
    font-family: sans-serif;
    font-size: 22px;
    } 
    div.weather-container:nth-of-type(2) {
    margin-top: 1vh;
    font-size: 18px;
    font-family: sans-serif;
    }
}